.ui-table {
    width: 100%;
    border-collapse: collapse;
}

.ui-table th,
.ui-table td {
    padding: 10px;
    border: 1px solid #e0e0e0;
    text-align: left;
}

.ui-table th {
    background: #f5f5f5;
    font-weight: bold;
}

.ui-table td input {
	display: inline;
	
	max-width: 60%;
	
	margin-right: 8px;
}